<!-- {% extends "base.html" %}

{% block page_content %} -->

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">

    <title>MCC ATA</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/product.css" rel="stylesheet">
  </head>

  <body>
    <style>.btn {margin: 10px auto;}</style>

    <nav class="site-header sticky-top py-1">
      <div class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="py-2" href="#">
          <svg width="1cm" height="1cm" viewBox="0 0 400 400"
          xmlns="http://www.w3.org/2000/svg" version="1.1">
       <rect x="100" y="100" width="800" height="800"
             fill="orange" />
     </svg>
     <strong>Home</strong>
     
        </a>

        <a class="py-2 d-none d-md-inline-block" href="#">%username%</a>
      </div>
    </nav>
    <main role="main">

      <div class="py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <div class="card-body">
                  <p class="card-text">CUCM FRA</p>
                  <small class="text-muted">10.10.20.1</small>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="d-grid gap-2 d-md-block">
                      <button type="button" class="btn btn-success">List Phone</button>
                      <button type="button" class="btn btn-primary">List Users</button>
                        <button type="button" class="btn btn-warning btn-block">Create new user</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <div class="card-body">
                  <p class="card-text">CUCM ATL</p>
                  <small class="text-muted">10.10.20.1</small>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="d-grid gap-2 d-md-block">
                      <button type="button" class="btn btn-success" onclick="{location.href='/list-phones';}">List Phone</button>
                      <button type="button" class="btn btn-primary">List Users</button>
                      
                        <button type="button" class="btn btn-warning btn-block">Create new user</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            </div>
        </div>
        </div>
      
    </main>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  </body>
</html>
